<div class="container">
<div class="col1">

<h1>Welcome!</h1>
<h5>Please log in</h5>

<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
      <h2>There were some errors:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<%= form_with url: '/login', method: "post" do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email_address %>
<%= f.text_field :email_address %>
<%= f.label :password %> 
<%= f.password_field :password %> 
<%= f.submit "Login" %>
<% end %>

<br><br>
<h5>or sign up:</h5>
<%= link_to "Sign Up", new_user_path %><br><br>

</div>