<br><br><br>

<div class="col1">
<div class="center">

<h1><%= @national_park.name %></h1>

</div>
</div>

<div class="col1">
<div class="container">

Highlights: <%= @national_park.description %><br><br>
Location: <%= @national_park.location %><br><br>

<% if @national_park.has_campsites == true %>
<h6>Campsites available in this park:</h6>
    <% @national_park.campsites.uniq.each do |n| %>
        <div class="center">
        <%= link_to n.location, campsite_path(n) %>
        </div>
  <% end %>
  <% end %><br>

<% if @national_park.has_tours == true %>
<h6>Tours available in this park:</h6>
    <% @national_park.tours.uniq.each do |n| %>
        <div class="center">
        <%= link_to n.name, tour_path(n) %>
        </div>
  <% end %>
  <% end %><br>

  <button type="button" class="btn-link"><%= link_to "Explore other parks", national_parks_path %><br></button>

<br><br>

  </div>
  </div>