<h1><%= @booking.location %></h1>

<ul>
<li>Accomodation: <%= @campsite.accomodation %></li>
<li>Length of Stay: <%= @campsite.length_of_stay %></li>
<li>Price: $<%= @campsite.price %></li>
<li>National Park: <%= @campsite.national_park_id %></li>
</ul>