<%= form_for @review do |f| %>
    <p>Choose a park</p>
    <%= f.collection_check_boxes :national_park_id, @national_parks, :id, :name %></br></br>
    
    <p>Write your review!</p>
    <%= f.label :description %>
    <%= f.text_field :description %></br></br>
    <%= f.submit %>
    <% end %> 